*,
*::before,
*::after {
  box-sizing: content-box;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.back{
  background-color: beige;
}

body {
  background-image: url("images/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div {
  padding: 10px;
  border: 3px solid rgb(0, 0, 0);
  margin: 30px;
  border-radius: 40px;
  background-image: linear-gradient(45deg, rgb(187, 200, 226) 50%, rgb(255, 255, 255) 100%);
  display: flow-root;
  transition: all 400ms ease-in-out
}

div:hover {
box-shadow: 10px 11px 20px; color: rgb(37, 36, 36);
transform: scale(1.01);
}

.header {
  background-color: #d6d6d67e;
  text-align: center;
  height: 150px;
  box-shadow: inset 0px -5px 8px;
}

.column {
  float: left;
}

#img1 {
  float: right;
  margin: 30px;
  max-height: 300px;
  border: 1px solid gray;
}

#split1 {
  float: left;
  width: 44%;
}

#split2 {
  float: right;
  width: 44%;
}

footer {
  background-color: #d6d6d67e;
  padding: 20px;
  text-align: left;
  box-shadow: inset 0px 5px 8px;
}