*,
*::before,
*::after {
  box-sizing: content-box;
}


html {
  scroll-behavior: smooth;
}

/* Background */  

body {
  background-image: url("images/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*I have the color gradient from w3schools*/

div {
  padding: 10px;
  border: 3px solid rgb(0, 0, 0);
  margin: 30px;
  border-radius: 40px;
  background-image: linear-gradient(45deg, rgba(187, 200, 226, 0.89) 50%, rgba(255, 255, 255, 0.89) 100%);
  display: flow-root;
  transition: all 400ms ease-in-out
}

/*Nice animation*/

div:hover {
box-shadow: 10px 11px 20px; color: rgb(37, 36, 36);
transform: scale(1.01);
}

.header {
  background-color: #d6d6d67e;
  display: flow-root;
  text-align: center;
  height: 150px;
  box-shadow: inset 0px -5px 8px;
}

.column {
  float: left;
}

/*Through this id all the pictures in the texts have little gray borders*/

#img1 {
  float: right;
  margin: 30px;
  max-height: 300px;
  border: 1px solid gray;
}


/*To align the little texts next to each other*/

#split1 {
  float: left;
  width: 44%;
}

#split2 {
  float: right;
  width: 44%;
}




footer {
  background-color: #d6d6d67e;
  padding: 20px;
  text-align: left;
  box-shadow: inset 0px 5px 8px;
}

/*I have the gallery from w3schools but I changed it a little*/

.gallery {
  display: inline-block;
  border-style: double;
  border-color: gray solid;
  margin: 30px;
  width: 27%;
}

.gallery .descriptions {
  padding: 10px;
  text-align: center;
}

.gallery:hover {
border-color: rgb(85, 83, 83);
}


.gallery img {
  width: 20%;
  height: auto;
}

#imgg1 {
  float: left;
}

#imgg2 {
  float: right;
}